// Custom.scss
// Option A: Include all of Bootstrap

// $body-bg: #000;

@import "./bootstrap-4.6.0/scss/bootstrap";
// Add custom code after this


$carousel-control-color:             $white;
$carousel-control-width:             15%;
$carousel-control-opacity:           .5;
$carousel-control-hover-opacity:     .9;
$carousel-control-transition:        opacity .15s ease;

$carousel-indicator-width:           30px;
$carousel-indicator-height:          3px;
$carousel-indicator-hit-area-height: 10px;
$carousel-indicator-spacer:          3px;
$carousel-indicator-opacity:         .5;
$carousel-indicator-active-bg:       $white;
$carousel-indicator-active-opacity:  1;
$carousel-indicator-transition:      opacity .6s ease;

$carousel-caption-width:             70%;
$carousel-caption-color:             $white;
$carousel-caption-padding-y:         1.25rem;
$carousel-caption-spacer:            1.25rem;

$carousel-control-icon-width:        2rem;

$carousel-control-prev-icon-bg:      url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='#{$carousel-control-color}'><path d='M11.354 1.646a.5.5 0 0 1 0 .708L5.707 8l5.647 5.646a.5.5 0 0 1-.708.708l-6-6a.5.5 0 0 1 0-.708l6-6a.5.5 0 0 1 .708 0z'/></svg>");
$carousel-control-next-icon-bg:      url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='#{$carousel-control-color}'><path d='M4.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L10.293 8 4.646 2.354a.5.5 0 0 1 0-.708z'/></svg>");

$carousel-transition-duration:       .6s;
$carousel-transition:                transform $carousel-transition-duration ease-in-out; // Define transform transition first if using multiple transitions (e.g., `transform 2s ease, opacity .5s ease-out`)

$carousel-dark-indicator-active-bg:  $black;
$carousel-dark-caption-color:        $black;
$carousel-dark-control-icon-filter:  invert(1) grayscale(100);


//Include custom variables default overrides here
$primary: #413D3C;
$gray: #413D3C;
$secondary:#6F7E8A;
// $danger:#A7B3AB;

$theme-colors: (
'primary': $primary,
'gray': $gray,
'secondary':$secondary
// 'danger':$danger,
);
//Create your own map
$custom-color:(
'icon-background': hsla(20, 1%, 55%, 0.2),
// 'footer-background':hsl(136, 7%, 68%)
);

// Merge maps
$theme-colors: map-merge($theme-colors, $custom-color);
// #413D3C - color of the announcement bar

//******** HEADER *********//  
.announcement-bar{
font-size:100%;
// border-bottom:1px solid (--bs-gray);
  background-color: #413D3C;
// #413D3C;
// that mean this class : announcement-bar__list
&__list{
    padding:0;
    margin:0;
    list-style-type:none;
    display:inline-flex;
    margin:0 -10px;
    

   

    li{
        margin:0 0.2rem;
        display:flex;
        align-items: center;

        a{
                color:#6F7E8A;
        }
        a:link{
            text-decoration: none;
        }
        a:hover {
            color:#C97A42;
             }

        .bi {
            background-color: var(--bs-icon-background);
            display:inline-flex;
            justify-content: center;
            align-items: center;
            width: 30px;
            height: 30px;
            margin-right: 6px;
           
        }
    }
}
// @include  media-breakpoint-down(lg){
    
// }
}

.menu__bg{
opacity: inherit;
background-color: inherit;
}



.carousel-item {
    height: 100vh;
    min-height: 300px;
    background: no-repeat center center scroll;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }
  .carousel-caption {
    bottom: 270px;
  }
  
  .carousel-caption h5 {
    font-size: 45px;
    text-transform: uppercase;
    letter-spacing: 2px;
    margin-top: 25px;
  }
  
  .carousel-caption p {
    width: 75%;
    margin: auto;
    font-size: 18px;
    line-height: 1.9;
  }
  
  .navbar-light .navbar-brand {
    color: #fff;
    font-size: 25px;
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 2px;
  }
  
  .navbar-light .navbar-nav .active > .nav-link, .navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .nav-link.show, .navbar-light .navbar-nav .show > .nav-link {
    color: #fff;
  }
  
  .navbar-light .navbar-nav .nav-link {
    color: #fff;
  }
  
  .navbar-toggler {
    background: #fff;
  }
  
  .navbar-nav {
    text-align: center;
  }
  
  .nav-link {
    padding: .2rem 1rem;
  }
  
  .nav-link.active,.nav-link:focus{
    color: #fff;
  }
  
  .navbar-toggler {
    padding: 1px 5px;
    font-size: 18px;
    line-height: 0.3;
  }
  
  .navbar-light .navbar-nav .nav-link:focus, .navbar-light .navbar-nav .nav-link:hover {
    color: #fff;
  }


  

  .footer-style{
    background-color: #A7B3AB;
  }

  .img-last {
    border: 3px solid #413D3C;
    border-radius: 6px;
    width:50%; 
    padding:5px;
    height:50%;
  } 
  
  .img-last:hover {
    box-shadow: 0 0 6px 3px rgba(0, 140, 186, 0.5);
  }

  .btn-pen{
    background-color: #68605E;
    color: white;
  }

  .back-image{
    // background-image: url('https://mdbcdn.b-cdn.net/img/new/standard/city/041.jpg');
    // height: 100vh;

    background-size: cover;
    background-repeat: no-repeat;
    background-color: rgba(0, 0, 0, 0);
    background-image: url("https://1scyiu2n1n5idktsl3ylwkq1-wpengine.netdna-ssl.com/wp-content/uploads/2018/07/Parallax-img.jpg");
    background-attachment: scroll; 
    min-width: 1519px; 
    left: 0px; 
    width: 1518px; 
    background-position: 50% 16px;
  }

  .back-image2{
    background-image: url('https://mdbcdn.b-cdn.net/img/new/standard/city/041.jpg');
    height: auto;

    //<img width="90" height="55" src="https://1scyiu2n1n5idktsl3ylwkq1-wpengine.netdna-ssl.com/wp-content/uploads/2018/07/flower-decor.png" class="aligncenter attachment-full" alt="flower-decor" loading="lazy">
  }

.back-image-first{
  background-size: cover;
  background-repeat: no-repeat;
  background-color: rgba(0, 0, 0, 0);
  background-image: url("https://1scyiu2n1n5idktsl3ylwkq1-wpengine.netdna-ssl.com/wp-content/uploads/2018/08/parallax-img-2.png");
  background-attachment: scroll; 
  min-width: 1519px; 
  left: 0px; 
  width: 1518px; 
  background-position: 50% 16px;
}

.back-image-last{
     background-size: cover;
    background-repeat: no-repeat;
    background-color: rgba(0, 0, 0, 0);
    background-image: url('https://1scyiu2n1n5idktsl3ylwkq1-wpengine.netdna-ssl.com/wp-content/uploads/2018/07/parallax-img-6.jpg');
    background-attachment: scroll;
    min-width: 1519px;
    left: 0px;
    width: 1518px;
    background-position: 50% -27px;
}